

{% extends 'frontend/index.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
        	<h1>ENTER YOUR DETAILS</h1>
        	<table>
        	<tr>
        		<th>
        			<form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>

    </form>
        		</th>
        	</tr>
        	</table>

       
        </div>
    </div>
{% endblock %}








